// 정원 시작
// 정원 끝

// 영종 시작
// 영종 끝

// 두영 시작
// 두영 끝

.grid_wrapper {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template:
    'board' 50px
    'video' auto
    'related' auto
    'comments' auto
    / 100%;
  gap: 10px;

  @include desktop {
    width: 1250px;
    margin-top: 30px;
    grid-template:
      'channel board related' 60px
      'channel video related' auto
      'channel comments related' auto
      / 210px 1fr 260px;
    gap: 15px 26px;
  }
  @include tablet {
    width: 964px;
    grid-template:
      'channel board' 60px
      'channel video' auto
      'channel related' auto
      'channel comments' auto
      / 210px 1fr;
  }
}
