.header {
  width: 100%;
  height: 50px;
  background-color: $white;
  display: flex;
  align-items: center;
  padding: 0 rem(15px);

  @include tablet {
    height: 60px;
  }

  @include desktop {
    height: 60px;
  }

  &__logo {
    &-img {
      margin: 0;
    }
    flex-grow: 1;
  }

  &__toggle {
    @include buttonBox;
    padding: rem(9px) rem(10px) rem(8px) rem(10px);
    display: none;
    margin-right: rem(10px);

    @include tablet {
      display: block;
    }

    @include desktop {
      display: block;
    }
  }

  &__lang {
    @include buttonBox;
    padding: rem(14px) rem(10px);

    svg {
      vertical-align: middle;
      margin-left: rem(2px);
    }
  }
}
