.video {
  @include box;
  grid-area: video;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(64px);

    &-channel {
      background-color: lightgray;
      width: 60%;
      min-width: rem(200px);
    }

    &-btn {
      @include buttonBox;
      background-color: pink;
    }
  }

  &__channel {
    &-logo {
      width: rem(29px);
      height: rem(29px);
      float: left;
      background-color: pink;
      background: url("../img/twice-logo.png") no-repeat center;
      background-size: cover;
      border-radius: 50%;
      margin-right: rem(5px);
    }

    &-title {
      font-weight: 700;
      display: block;
    }

    &-time {
      font-size: rem(11px);
      display: block;
    }
  }
}
