$white: #ffffff;
$black: #000000;
$background-color: #f6f6f9;
$primary-color: #8d54e6;
$primary-background-color: #f5f0fd;
$gray: rgb(181, 181, 189);
$dark-gray: rgb(153, 153, 153);

// 정원 시작
// 정원 끝

// 영종 시작
$primary-sub-color: #e9ddfa;
$white-gray: #ebebef;
$light-gray: #c5c5c5;
// 영종 끝

// 두영 시작
// 두영 끝
