@import "a11y";
@import "nomalize";
@import "asset";

body {
  background-color: $background-color;
  font-family: sans-serif;
}

[class] {
  box-sizing: border-box;
}

// 정원 시작
// 정원 끝

// 영종 시작
// 영종 끝

// 두영 시작
// 두영 끝
