@import "a11y";
@import "nomalize";
@import "asset";
html {
  font-size: 16px;
}

body {
  background-color: $background-color;
  font-family: -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, Helvetica,
    Arial, NanumGothic, "나눔고딕", Malgun Gothic, "맑은 고딕", Dotum,
    sans-serif;
}

[class] {
  box-sizing: border-box;
}
a {
  text-decoration: inherit;
  color: inherit;
  &:visited {
    text-decoration: inherit;
    color: inherit;
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

// 정원 시작
// 정원 끝

// 영종 시작
// 영종 끝

// 두영 시작
// 두영 끝
