@import './../../../node_modules/normalize-scss/fork-versions/default/normalize';

// 정원 시작
button {
  margin: 0;
  padding: 0;
  border: none;
  appearance: none;
  border-radius: 0;
  background: none;
}
// 정원 끝

// 영종 시작
// 영종 끝

// 두영 시작
// 두영 끝
