@mixin buttonBox($isCircle: false, $size: rem(30px), $bg: transparent) {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: rem(8px);
  appearance: none;
  background: none;
  cursor: pointer;
  background-color: $bg;
  @if $isCircle {
    width: $size;
    height: $size;
    border-radius: 50%;
  }
  &:hover {
    background-color: $dark-gray;
  }
}

// 정원 시작
// 정원 끝

// 영종 시작
// 영종 끝

// 두영 시작
// 두영 끝
